bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log
TestResults/
/artifacts/
Directory.Build.local.props
certs/local/
packages/PDFtoImage.*/
packages/SkiaSharp.3.*/
packages/SkiaSharp.NativeAssets.Win32.*/
packages/bblanchon.PDFium.Win32.*/
