<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.WebView2" version="1.0.2903.40" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="PDFtoImage" version="5.2.1" targetFramework="net48" />
  <package id="SkiaSharp" version="3.119.2" targetFramework="net48" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.2" targetFramework="net48" />
  <package id="bblanchon.PDFium.Win32" version="147.0.7690" targetFramework="net48" />
</packages>
